/doc/eder/
/composer.lock
/composer.phar
/composer_setup.php
/vendor/
/node_modules/
.DS_Store
doc/analysis/Modelagem/Diagrama.mwb.bak
/nbproject/
/config/db.yml
/files/


/flyway/*.txt
/flyway/drivers
/flyway/flyway*
/flyway/jars
/flyway/jre
/flyway/lib
/flyway/sql/*.txt
