{% extends 'layout.twig' %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-xs-12">
		  <h3>{{ titulo }}</h3>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<!-- <script src="./app/agenda/listar.js"></script> -->
{% endblock %}