.btn-upload {
	display: inline-block;
    overflow: hidden;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-upload input {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    filter: alpha(opacity:0);
	opacity: 0;
	-moz-opacity: 0;
}
.btn-upload:hover{
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.item-upload .progress, .item-upload .alert{
	margin: 0px;
}