{% extends "layout.twig" %}
{% block styles %}
	<link rel="stylesheet" href="./app/enviaretapa/formulario.css">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<h3>{{ titulo }} <small>{{ subtitulo }}</small></h3>
		</div>
	</div>
	<form id="form-js" class="form-default" method="post" action="./enviaretapa/" enctype="multipart/form-data">
		<input type="hidden" name="etapa" value="{{ etapa }}" id="etapa-id" />
		<div class="row">
			<div class="col-xs-12">
				<h4>Arquivos</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="btn-upload">
					<span>Selecione um arquivo</span>
					<input type="file" name="arquivo" id="arquivo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="./enviaretapa/listar/" class="btn btn-default"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a>
				<button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
			</div>
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script src="./app/enviaretapa/formulario.js"></script>
{% endblock %}
